@font-face {
  font-family: "Happiness-Sans-Title";
  src: url("./assets/Happiness-Sans-Title.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Happiness-Sans-Regular";
  src: url("./assets/Happiness-Sans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Happiness-Sans-Title";
  background-color: #2f93ca;
  color: #ffeda2;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

form {
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Happiness-Sans-Regular";
}

h1 {
  position: fixed;
  font-size: 2.6rem;
  top: 1.4em;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  filter: drop-shadow(0px 0px 6px #2f93ca);
  z-index: 5;
}

h2 {
  position: fixed;
  font-size: 1.7rem;
  top: 2vh;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translateX(-50%);
  color: #ffffff;
  filter: drop-shadow(0px 0px 4px #2f93ca);
  z-index: 5;
  word-break: keep-all;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120vw;
  height: 120vh;
  transform: translate(-50%, -50%);
  background-image: url("./SVG/star.svg");
  background-size: cover;
  background-position: center;
  color: #2f93ca;
  filter: drop-shadow(0px 0px 24px #fff);
  display: flex;
  justify-content: center;
}
label {
  display: block;
  margin-bottom: 0.4em;
}

input {
  width: 10em;
  height: 2em;
  font-size: 1rem;
  border: 0;
  border-radius: 2em;
  outline: none;
  background-color: #fff;
  color: #2f93ca;
  margin-bottom: 1em;
  text-align: center;
}

#message {
  font-family: "Happiness-Sans-Regular";
  width: 220px;
  height: 220px;
  border-radius: 0.6em;
  background-color: #ffeda2;
  color: #2f93ca;
  filter: drop-shadow(0px 0px 12px #fff);
  margin: 0.6em;
  padding: 1em;
  overflow: hidden;
  white-space: pre-line;
  word-break: keep-all;
  border: 1px solid #fff;
  resize: none;
  font-size: 1rem;
}

button {
  font-family: "Happiness-Sans-Title";
  text-align: center;
  color: #fff;
  filter: drop-shadow(0px 0px 8px #2f93ca);
  background-color: #ffeda2;
  border: none;
  font-size: 1.6rem;
  padding: 0.5em 4em;
  border-radius: 50%;
  margin-top: 2em;
  border: 1px solid #fff;
}

button:hover {
  background-color: #2f93ca;
  color: #ffeda2;
  filter: drop-shadow(0px 0px 4px #fff);
}
