@font-face {
  font-family: "Happiness-Sans-Title";
  src: url("./assets/Happiness-Sans-Title.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Happiness-Sans-Regular";
  src: url("./assets/Happiness-Sans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Happiness-Sans-Title";
  background-color: #2f93ca;
  color: #ffeda2;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

form {
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Happiness-Sans-Regular";
}

h1 {
  position: fixed;
  font-size: 2.6rem;
  top: 1.4em;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  filter: drop-shadow(0px 0px 6px #2f93ca);
  z-index: 5;
}
h1#logo{
    width: 15vw;
    top: 40px;
    right: 10px;
    left: auto;
    transform: none;
    font-size: 4.3rem;
    color: #ffeda2;
    line-height: 1.1em;
    filter: none;
}

h2 {
  position: fixed;
  font-size: 1.7rem;
  top: 2vh;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translateX(-50%);
  color: #ffffff;
  filter: drop-shadow(0px 0px 4px #2f93ca);
  z-index: 5;
  word-break: keep-all;
}
#qrcode {
    position: fixed;
    background-color: #ffeda2;
    width: 15vw;
    top: 30px;
    left: 30px;
    padding: 8px;
    border-radius: 24px;
    filter: drop-shadow(0px 0px 12px #fff);
    z-index: 100;
}
container {
    overflow: hidden;
}
#dataContainer {
    overflow: hidden;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  background-image: url("./SVG/star.svg");
  background-size: cover;
  background-position: center;
  color: #2f93ca;
  filter: drop-shadow(0px 0px 24px #fff);
  display: flex;
  justify-content: center;
  overflow: hidden;
}
label {
  display: block;
  margin-bottom: 0.4em;
}
.item p.name {
    /* position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%); */
    color: #2f93ca;
    filter: drop-shadow(0px 0px 4px #fff);
    font-size: 1.4rem;
    padding-bottom: .2em;
}
.item p {
    padding-bottom: .8em;
    padding: 0 4em .8em;
}

input {
  height: 2em;
  font-size: 1rem;
  border: 0;
  border-radius: 2em;
  outline: none;
  background-color: #fff;
  color: #2f93ca;
  text-align: center;
}
#dataContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.item {
  position: absolute;
  display: flex;
  background-image: url("./SVG/star.svg");
  background-size: cover;
  background-position: center;
  width: 248px;
  height: 300px;
  top: calc(50vh - 124px);
  left: calc(50vw - 150px);
  /* animation: glitter 2s linear infinite; */

  color: #2f93ca;
  filter: drop-shadow(0px 0px 24px #fff);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Happiness-Sans-Regular";
}
@keyframes glitter {
  0% {
    filter: drop-shadow(0px 0px 24px #fff);
    opacity: 1;
    transform: scale(1) translate(0%, 0%);
  }
  100% {
    filter: drop-shadow(0px 0px 2px #fff);
    opacity: 0.5;
    transform: scale(0) translate(100%, 100%);
  }
}

.star {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
#message {
  font-family: "Happiness-Sans-Regular";
  width: 220px;
  height: 6em;
  border-radius: 0.6em;
  /* background-color: #ffeda2; */
  color: #2f93ca;
  filter: drop-shadow(0px 0px 12px #fff);
  margin: 0 0.6em 3rem;
  padding: 1em;
  overflow: hidden;
  white-space: pre-line;
  word-break: keep-all;
  border: 1px solid #fff;
  resize: none;
  font-size: 1rem;
}

button {
  font-family: "Happiness-Sans-Title";
  text-align: center;
  color: #fff;
  filter: drop-shadow(0px 0px 4px #fff);
  background-color: #2f93ca;
  border: none;
  font-size: 1.6rem;
  padding: 0.5em 4em;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  bottom: 16vh;
}

button:hover {
  background-color: #2f93ca;
  color: #ffeda2;
  filter: drop-shadow(0px 0px 4px #2f93ca);
}
